#simulate {
  margin-bottom: 2em;
}

.media-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.init-slides {
  width: 38vw;
}
.init-slides .slick-prev:before,
.slick-next:before {
  color: red;
}

.container {
  margin-top: 50px;
  padding: 0 15px;
  color: black;
}
.prev-init-desc {
  text-align: center;
}
.prev-init-head {
  text-align: center;
  padding-top: 0.5em;
}

.prev-init-desc i {
  font-size: 27px;
  color: rgba(34, 34, 34, 0.932);
  line-height: 1.55;
}

.text-container {
  text-align: justify;
}

#relaunch {
  margin-bottom: 2em;
}

.media-container > img {
  width: 75%;
  height: auto;
}

@media (min-width: 1100px) {
  .mobile {
    display: none;
  }

  .web {
    display: block;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
  .prev-init-desc {
    font-weight: 300;
  }
  .text-container h1 {
    font-size: 35px;
  }
  .prev-init-head {
    font-size: 40px;
  }
}

@media (max-width: 1100px) {
  .mobile {
    display: block;
  }

  .web {
    display: none;
  }
  .rel1 {
    order: 1;
  }
  .rel2 {
    order: 2;
  }

  .container {
    display: grid;
    margin-top: 30px;
  }

  .text-container h1 {
    font-size: 35px;
  }

  .media-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  .prev-init-desc i {
    font-size: 22px;
    line-height: 1.2;
  }

  .init-slides {
    width: 80vw;
  }
  .prev-init-head {
    font-size: 35px;
  }
}

@media (max-width: 900px) {
  /* .text-container {
   
    font-size: 20px;
  } */
  .text-container h1 {
    font-size: 30px;
  }
  .prev-init-desc i {
    font-size: 19px;
    line-height: 1.3;
  }

  .media-container > img {
    width: 100%;
  }
  .prev-init-head {
    font-size: 30px;
  }
}

@media (max-width: 600px) {
  .container {
    margin-top: 45px;
  }

  div#step div.container {
    margin-top: 30px;
  }

  .text-container {
    font-size: 17px;
  }
  .text-container h1 {
    font-size: 28px;
  }
  .prev-init-desc i {
    font-size: 12px;
  }
  .prev-init-head {
    font-size: 22px;
  }
}

/* .flex_itemP-2 {
  flex-grow: 1;
}

.flex_itemP-3 {
  flex-grow: 1;
}
.flex_itemP-4 {
  flex-grow: 1;
} */
